CompileFlags:
  Add:
    - -I../linux-5.4/include
    - -I../linux-5.4/arch/x86/include
    - -I../linux-5.4/arch/x86/include/generated
    - -I../linux-5.4/include/generated
    - -D__KERNEL__
    - -DMODULE
    - -Wno-unused-command-line-argument
